* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'SFpro';
    src: url('../../assets/fonts/SFpro/SFPRODISPLAYREGULAR.OTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.background {
    background-color: rgba(0, 0, 0, 0.966);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    
    .modal {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        position: fixed;
        background-color: #FFFFFF;
        padding: 40px;
        color: #555555;
        border-radius: 18px;

        .apresentationModal{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .modalSvg{
                width: 500px;
                margin-bottom: 100px;
            }
                button {
                    color: white;
                    font-family: SFpro;
                    font-size: 15px;
                    background-color: #acacac;
                    border: none;
                    width: 150px;
                    height: 40px;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: 0.5s;
                }
        
                button:hover {
                    background-color: #cccccc;
                    cursor: pointer;
                }
            }


        .form{
            display: flex;
            flex-direction: column;
            background-color: white;
            border: 1px solid rgb(222, 222, 222);
            gap: 15px;
            padding: 40px;
            border-radius: 20px;
            margin-left: 60px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            input{
                background-color: #E5E5E5;
                border: white;
                color: #000000ba;
                font-family: SFpro;
                font-size: 15px;
                padding: 20px;
                text-decoration: none;
                border: none;
                outline: 0;
                width: 400px;
                height: 34px;
                border-radius: 10px;
            }

            .paraph{
                font-size: 15px;
            }

            label{
                color: #717171;
            }

            .boxValidationErros{
                font-size: 13px;
                color: red;
            }

            button {
                width: 150px;
                height: 40px;
                margin: auto;
                color: white;
                background-color: rgb(253, 91, 28);
                border: none;
                border-radius: 10px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            }
            button:hover {
                background-color: rgb(247, 128, 81);
                cursor: pointer;
                transition: 0.5s;
            }

        }
        .QRbox {
            width: 700px;
            height: 530px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .checkQRCode{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                img {
                    width: 60%;
                }

                button {
                    color: white;
                    font-family: SFpro;
                    font-size: 15px;
                    background-color: #acacac;
                    border: none;
                    width: 150px;
                    height: 40px;
                    margin-top: 40px;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: 0.5s;
                }
        
                button:hover {
                    background-color: #cccccc;
                    cursor: pointer;
                }
            }

            .reserveBox {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 30px;

                h1 {
                    font-size: 25px;
                    text-align: center;
                    margin-bottom: 20px;
                    color: #555555;
                }
            }


        }
    }
}