*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Merriweather+Sans:wght@700&family=Quicksand:wght@300&display=swap');

@font-face {
    font-family: 'SFpro';
    src: url('../../assets/fonts/SFpro/SFPRODISPLAYMEDIUM.OTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
    .apresentation {
        position: relative;

        .imgBuble {
            width: 750px;
            height: 750px;
            margin-right: 8%;
        }
    
        .description{
            position: absolute;
            width: 450px;
            left: 223px;
            bottom: 320px;
        }
    
        .description h1 {
            font-family: 'Inter';
            font-size: 30px;
            text-align: left;
            margin-bottom: 20px;
        }
    
        .description h2 {
            font-family: 'Inter';
            font-size: 20px;
            text-align: left;
            font-weight: 300;
            text-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
    }

    .box{
        display: flex;
        flex-direction: column;
        margin: 150px 0 0 100px;

        .boxTitle h1 {
            font-family: SFpro;
            font-size: 55px;
            color: white;
            right: 10%;
            top: 100%;
        }
    
        button {
            background: transparent;
            position: relative;
            padding: 10px 10px;
            display: flex;
            align-items: center;
            font-size: 17px;
            font-weight: 600;
            text-decoration: none;
            cursor: pointer;
            border: 1px solid #8D6E63;
            border-radius: 25px;
            outline: none;
            overflow: hidden;
            color: #8D6E63;
            transition: color 0.3s 0.1s ease-out;
            text-align: center;
        }

        button span {
            font-family: SFpro;
            margin: auto;
        }

        button::before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            content: '';
            border-radius: 50%;
            display: block;
            width: 20em;
            height: 20em;
            left: -5em;
            text-align: center;
            transition: box-shadow 0.5s ease-out;
            z-index: -1;
        }
          
        button:hover {
            color: #fff;
            border: 1px solid #8D6E63;
        }
          
        button:hover::before {
            box-shadow: inset 0 0 0 10em #8D6E63
        }
    
    }
}

