*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SFpro';
    src: url('../../assets/fonts/SFpro/SFPRODISPLAYMEDIUM.OTF') format('truetype');
    font-weight: 100;
    font-weight: 200;
    font-weight: 300;
    font-weight: 400;
    font-weight: 500;
    font-weight: 600;
    font-weight: 700;
    font-weight: bold;
    font-style: normal;
  }

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .box{
        display: flex;
        flex-direction: column;
    }

    .boxTitle h1 {
        font-family: SFpro;
        font-size: 55px;
        color: white;
        right: 10%;
        top: 100%;
    }

    .box button {
        color: white;
        background-color: #3fa730;
        text-decoration: none;
        border: none;
        margin: auto;
        margin-top: 30px;
        width: 170px;
        height: 40px;
        border-radius: 40px;
    }

    .box button:hover {
        cursor: pointer;
        background-color: #18600d;
        transition: 0.6s;
    }

    .svgBuble {
        width: 700px;
        height: 700px;
        margin-right: 8%;
    }
}

